# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea
.idea/*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.gitignore
node_modules
node_modules/acorn-jsx/
node_modules/acorn/CHANGELOG.md
node_modules/acorn/dist/acorn.es.js
node_modules/acorn/dist/acorn_loose.es.js
node_modules/acorn/dist/walk.es.js
node_modules/acorn/rollup/
node_modules/acorn/src/bin/
node_modules/acorn/src/locutil.js
node_modules/babel-eslint/babylon-to-espree/
node_modules/bluebird/
node_modules/caller-path/
node_modules/callsites/
node_modules/doctrine/CHANGELOG.md
node_modules/encoding/
node_modules/eslint-plugin-react/lib/rules/forbid-component-props.js
node_modules/eslint-plugin-react/lib/rules/jsx-filename-extension.js
node_modules/eslint-plugin-react/lib/rules/jsx-first-prop-new-line.js
node_modules/eslint-plugin-react/lib/rules/jsx-no-comment-textnodes.js
node_modules/eslint-plugin-react/lib/rules/jsx-no-target-blank.js
node_modules/eslint-plugin-react/lib/rules/jsx-space-before-closing.js
node_modules/eslint-plugin-react/lib/rules/jsx-wrap-multilines.js
node_modules/eslint-plugin-react/lib/rules/no-comment-textnodes.js
node_modules/eslint-plugin-react/lib/rules/no-danger-with-children.js
node_modules/eslint-plugin-react/lib/rules/no-find-dom-node.js
node_modules/eslint-plugin-react/lib/rules/no-render-return-value.js
node_modules/eslint-plugin-react/lib/rules/no-unused-prop-types.js
node_modules/eslint-plugin-react/lib/rules/prefer-stateless-function.js
node_modules/eslint-plugin-react/lib/rules/require-optimization.js
node_modules/eslint-plugin-react/lib/rules/require-render-return.js
node_modules/eslint-plugin-react/lib/rules/sort-prop-types.js
node_modules/eslint-plugin-react/lib/rules/style-prop-object.js
node_modules/eslint-plugin-react/lib/util/version.js
node_modules/eslint/CHANGELOG.md
node_modules/eslint/conf/category-list.json
node_modules/eslint/conf/cli-options.js
node_modules/eslint/conf/eslint-all.js
node_modules/eslint/lib/code-path-analysis/
node_modules/eslint/lib/config/autoconfig.js
node_modules/eslint/lib/config/config-rule.js
node_modules/eslint/lib/config/environments.js
node_modules/eslint/lib/config/plugins.js
node_modules/eslint/lib/formatters/html-template-message.html
node_modules/eslint/lib/formatters/html-template-page.html
node_modules/eslint/lib/formatters/html-template-result.html
node_modules/eslint/lib/formatters/table.js
node_modules/eslint/lib/formatters/visualstudio.js
node_modules/eslint/lib/internal-rules/
node_modules/eslint/lib/rules/.eslintrc.yml
node_modules/eslint/lib/rules/array-callback-return.js
node_modules/eslint/lib/rules/class-methods-use-this.js
node_modules/eslint/lib/rules/func-call-spacing.js
node_modules/eslint/lib/rules/id-blacklist.js
node_modules/eslint/lib/rules/keyword-spacing.js
node_modules/eslint/lib/rules/max-lines.js
node_modules/eslint/lib/rules/max-statements-per-line.js
node_modules/eslint/lib/rules/multiline-ternary.js
node_modules/eslint/lib/rules/newline-before-return.js
node_modules/eslint/lib/rules/newline-per-chained-call.js
node_modules/eslint/lib/rules/no-confusing-arrow.js
node_modules/eslint/lib/rules/no-duplicate-imports.js
node_modules/eslint/lib/rules/no-empty-function.js
node_modules/eslint/lib/rules/no-extra-label.js
node_modules/eslint/lib/rules/no-global-assign.js
node_modules/eslint/lib/rules/no-implicit-globals.js
node_modules/eslint/lib/rules/no-mixed-operators.js
node_modules/eslint/lib/rules/no-new-symbol.js
node_modules/eslint/lib/rules/no-prototype-builtins.js
node_modules/eslint/lib/rules/no-restricted-globals.js
node_modules/eslint/lib/rules/no-restricted-imports.js
node_modules/eslint/lib/rules/no-self-assign.js
node_modules/eslint/lib/rules/no-tabs.js
node_modules/eslint/lib/rules/no-template-curly-in-string.js
node_modules/eslint/lib/rules/no-unmodified-loop-condition.js
node_modules/eslint/lib/rules/no-unsafe-finally.js
node_modules/eslint/lib/rules/no-unsafe-negation.js
node_modules/eslint/lib/rules/no-unused-labels.js
node_modules/eslint/lib/rules/no-useless-computed-key.js
node_modules/eslint/lib/rules/no-useless-constructor.js
node_modules/eslint/lib/rules/no-useless-escape.js
node_modules/eslint/lib/rules/no-useless-rename.js
node_modules/eslint/lib/rules/no-whitespace-before-property.js
node_modules/eslint/lib/rules/object-curly-newline.js
node_modules/eslint/lib/rules/object-property-newline.js
node_modules/eslint/lib/rules/one-var-declaration-per-line.js
node_modules/eslint/lib/rules/prefer-rest-params.js
node_modules/eslint/lib/rules/rest-spread-spacing.js
node_modules/eslint/lib/rules/sort-imports.js
node_modules/eslint/lib/rules/sort-keys.js
node_modules/eslint/lib/rules/symbol-description.js
node_modules/eslint/lib/rules/template-curly-spacing.js
node_modules/eslint/lib/rules/unicode-bom.js
node_modules/eslint/lib/rules/yield-star-spacing.js
node_modules/eslint/lib/util/glob.js
node_modules/eslint/lib/util/hash.js
node_modules/eslint/lib/util/module-resolver.js
node_modules/eslint/lib/util/npm-util.js
node_modules/eslint/lib/util/path-util.js
node_modules/eslint/lib/util/source-code-util.js
node_modules/eslint/lib/util/traverser.js
node_modules/eslint/lib/util/xml-escape.js
node_modules/eslint/messages/
node_modules/eslint/node_modules/globals/
node_modules/espree/
node_modules/esprima/
node_modules/fbjs/flow/lib/Promise.js
node_modules/fbjs/lib/DataTransfer.js
node_modules/fbjs/lib/DataTransfer.js.flow
node_modules/fbjs/lib/Keys.js
node_modules/fbjs/lib/Keys.js.flow
node_modules/fbjs/lib/PhotosMimeType.js
node_modules/fbjs/lib/PhotosMimeType.js.flow
node_modules/fbjs/lib/Promise.native.js
node_modules/fbjs/lib/Promise.native.js.flow
node_modules/fbjs/lib/Scroll.js
node_modules/fbjs/lib/Scroll.js.flow
node_modules/fbjs/lib/Set.js
node_modules/fbjs/lib/Set.js.flow
node_modules/fbjs/lib/Style.js
node_modules/fbjs/lib/Style.js.flow
node_modules/fbjs/lib/TokenizeUtil.js
node_modules/fbjs/lib/TokenizeUtil.js.flow
node_modules/fbjs/lib/UnicodeBidi.js
node_modules/fbjs/lib/UnicodeBidi.js.flow
node_modules/fbjs/lib/UnicodeBidiDirection.js
node_modules/fbjs/lib/UnicodeBidiDirection.js.flow
node_modules/fbjs/lib/UnicodeBidiService.js
node_modules/fbjs/lib/UnicodeBidiService.js.flow
node_modules/fbjs/lib/UnicodeCJK.js
node_modules/fbjs/lib/UnicodeCJK.js.flow
node_modules/fbjs/lib/UnicodeHangulKorean.js
node_modules/fbjs/lib/UnicodeHangulKorean.js.flow
node_modules/fbjs/lib/UnicodeUtils.js
node_modules/fbjs/lib/UnicodeUtils.js.flow
node_modules/fbjs/lib/UnicodeUtilsExtra.js
node_modules/fbjs/lib/UnicodeUtilsExtra.js.flow
node_modules/fbjs/lib/_shouldPolyfil
lES6Collection.js
node_modules/fbjs/lib/_shouldPolyfillES6Collection.js.flow
node_modules/fbjs/lib/compactArray.js
node_modules/fbjs/lib/compactArray.js.flow
node_modules/fbjs/lib/concatAllArray.js
node_modules/fbjs/lib/concatAllArray.js.flow
node_modules/fbjs/lib/countDistinct.js
node_modules/fbjs/lib/countDistinct.js.flow
node_modules/fbjs/lib/cx.js
node_modules/fbjs/lib/cx.js.flow
node_modules/fbjs/lib/distinctArray.js
node_modules/fbjs/lib/distinctArray.js.flow
node_modules/fbjs/lib/enumerate.js
node_modules/fbjs/lib/enumerate.js.flow
node_modules/fbjs/lib/equalsIterable.js
node_modules/fbjs/lib/equalsIterable.js.flow
node_modules/fbjs/lib/equalsSet.js
node_modules/fbjs/lib/equalsSet.js.flow
node_modules/fbjs/lib/everySet.js
node_modules/fbjs/lib/everySet.js.flow
node_modules/fbjs/lib/flatMapArray.js
node_modules/fbjs/lib/flatMapArray.js.flow
node_modules/fbjs/lib/getDocumentScrollElement.js
node_modules/fbjs/lib/getDocumentScrollElement.js.flow
node_modules/fbjs/lib/getElementPosition.js
node_modules/fbjs/lib/getElementPosition.js.flow
node_modules/fbjs/lib/getElementRect.js
node_modules/fbjs/lib/getElementRect.js.flow
node_modules/fbjs/lib/getScrollPosition.js
node_modules/fbjs/lib/getScrollPosition.js.flow
node_modules/fbjs/lib/getStyleProperty.js
node_modules/fbjs/lib/getStyleProperty.js.flow
node_modules/fbjs/lib/getViewportDimensions.js
node_modules/fbjs/lib/getViewportDimensions.js.flow
node_modules/fbjs/lib/groupArray.js
node_modules/fbjs/lib/groupArray.js.flow
node_modules/fbjs/lib/keyMirrorRecursive.js
node_modules/fbjs/lib/keyMirrorRecursive.js.flow
node_modules/fbjs/lib/maxBy.js
node_modules/fbjs/lib/maxBy.js.flow
node_modules/fbjs/lib/minBy.js
node_modules/fbjs/lib/minBy.js.flow
node_modules/fbjs/lib/partitionArray.js
node_modules/fbjs/lib/partitionArray.js.flow
node_modules/fbjs/lib/partitionObject.js
node_modules/fbjs/lib/partitionObject.js.flow
node_modules/fbjs/lib/partitionObjectByKey.js
node_modules/fbjs/lib/partitionObjectByKey.js.flow
node_modules/fbjs/lib/someSet.js
node_modules/fbjs/lib/someSet.js.flow
node_modules/fbjs/node_modules/
node_modules/glob/changelog.md
node_modules/ignore/
node_modules/immutable/
node_modules/imurmurhash/
node_modules/is-stream/
node_modules/isomorphic-fetch/
node_modules/jsx-ast-utils/
node_modules/lodash.assign/LICENSE
node_modules/lodash.pickby/
node_modules/natural-compare/
node_modules/node-fetch/
node_modules/optionator/node_modules/
node_modules/pluralize/
node_modules/progress/
node_modules/react/lib/DOMLazyTree.js
node_modules/react/lib/DOMNamespaces.js
node_modules/react/lib/DisabledInputUtils.js
node_modules/react/lib/KeyEscapeUtils.js
node_modules/react/lib/NativeMethodsMixin.js
node_modules/react/lib/ReactChildrenMutationWarningHook.js
node_modules/react/lib/ReactComponentTreeDevtool.js
node_modules/react/lib/ReactComponentTreeHook.js
node_modules/react/lib/ReactComponentTreeTestUtils.js
node_modules/react/lib/ReactDOMComponentFlags.js
node_modules/react/lib/ReactDOMComponentTree.js
node_modules/react/lib/ReactDOMContainerInfo.js
node_modules/react/lib/ReactDOMEmptyComponent.js
node_modules/react/lib/ReactDOMFiber.js
node_modules/react/lib/ReactDOMNullInputValuePropHook.js
node_modules/react/lib/ReactDOMTreeTraversal.js
node_modules/react/lib/ReactDOMUnknownPropertyHook.js
node_modules/react/lib/ReactDebugTool.js
node_modules/react/lib/ReactFeatureFlags.js
node_modules/react/lib/ReactHostComponent.js
node_modules/react/lib/ReactHostOperationHistoryHook.js
node_modules/react/lib/ReactInstrumentation.js
node_modules/react/lib/ReactInvalidSetStateWarningHook.js
node_modules/react/lib/ReactNative.js
node_modules/react/lib/ReactNativeAttributePayload.js
node_modules/react/lib/ReactNativeBaseComponent.js
node_modules/react/lib/ReactNativeBridgeEventPlugin.js
node_modules/react/lib/ReactNativeComponentEnvironment.js
node_modules/react/lib/ReactNativeComponentTree.js
node_modules/react/lib/ReactNativeContainerInfo.js
node_modules/react/lib/ReactNativeDOMIDOperations.js
node_modules/react/lib/ReactNativeDefaultInjection.js
node_modules/react/lib/ReactNativeEventEmitter.js
node_modules/react/lib/ReactNativeEventPluginOrder.js
node_modules/react/lib/ReactNativeGlobalResponderHandler.js
node_modules/react/lib/ReactNativeMount.js
node_modules/react/lib/ReactNativePropRegistry.js
node_modules/react/lib/ReactNativeReconcileTransaction.js
node_modules/react/lib/ReactNativeTagHandles.js
node_modules/react/lib/ReactNativeTextComponent.js
node_modules/react/lib/ReactNativeTreeTraversal.js
node_modules/react/lib/ReactNodeTypes.js
node_modules/react/lib/ReactNoop.js
node_modules/react/lib/ReactPropTypesSecret.js
node_modules/react/lib/ReactPureComponent.js
node_modules/react/lib/ReactServerUpdateQueue.js
node_modules/react/lib/ReactSimpleEmptyComponent.js
node_modules/react/lib/ReactTestMount.js
node_modules/react/lib/ReactTestReconcileTransaction.js
node_modules/react/lib/ReactTestRenderer.js
node_modules/react/lib/ReactUMDEntry.js
node_modules/react/lib/ReactWithAddonsUMDEntry.js
node_modules/react/lib/SyntheticAnimationEvent.js
node_modules/react/lib/SyntheticTransitionEvent.js
node_modules/react/lib/TouchHistoryMath.js
node_modules/react/lib/checkReactTypeSpec.js
node_modules/react/lib/createMicrosoftUnsafeLocalFunction.js
node_modules/react/lib/createReactNativeComponentClass.js
node_modules/react/lib/findNodeHandle.js
node_modules/react/lib/getHostComponentFromComposite.js
node_modules/react/lib/getVendorPrefixedEventName.js
node_modules/react/lib/reactProdInvariant.js
node_modules/react/node_modules/
node_modules/require-uncached/
node_modules/resolve-from/
node_modules/shelljs/MAINTAINERS
node_modules/shelljs/src/set.js
node_modules/shelljs/src/touch.js
node_modules/slice-ansi/
node_modules/strip-bom/
node_modules/table/
node_modules/tv4/
node_modules/xregexp/
